
@import url(http://fonts.googleapis.com/css?family=Roboto:900,400,700,500,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@font-face {
    font-family: ostrich-regular;
    src: url(ostrich-regular.woff);
}

body {
  font-family: 'Roboto', sans-serif;
}


a {
  color: #00D512;
}

::selection {
    color: #626262;
    background: #00FF2C;
}

h1 {
  font-size: 7em;
  color: #626262;
}

h2 {
  font-family: Roboto-Medium;
  font-size: 45px;
  color: #626262;
  line-height: 53px;
  padding-bottom: 15px;
  border-bottom: 2px #626262 solid;
  margin-top: 2em;
}

h3 {
  font-family: Roboto-Medium;
  font-size: 30px;
  color: #5B5752;
  line-height: 35px;
}

h4 {
  font-family: Roboto-Bold;
  font-size: 21px;
  color: #5B5752;
  line-height: 25px;
}


h6 {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  letter-spacing: 2px;
  background-color: #726D66;
  padding: 1em;
  margin-bottom: -1.2em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 5px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  letter-spacing: 0.159999996423721px;
  line-height: 1.75em;
  margin: 0 0 30px 0;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;

}

li {
  font-family: 'Roboto';
  font-size: 17px;
  color: #5B5752;
  line-height: 38px;
}


.menu {
  border-bottom: 1px #f2f2f2 solid;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  opacity: .9;
  filter: blur(10px);

}

.menu a {
  margin: 0.25em;
  font-family: 'ostrich-regular';
  color: #767676;
  font-size: 45px;
  color: #767676;
  line-height: 47px;
  letter-spacing: 8px;
  margin-left: 1em;
  text-decoration: none;
  display: block;
}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

code {
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: .2em 0.4em .2em .4em;
  font-family: AndaleMono;
  font-size: 19px;
  color: #5B5752;
  border: 1px rgba(91, 87, 82, 0.19) solid;
}

pre {
  background-color: #FCFCFC;
  padding: 1em;
  font-family: AndaleMono;
  font-size: 19px;
  color: #5B5752;
  line-height: 21px;
  border: 1px rgba(91, 87, 82, 0.19) solid;
  margin-bottom: 2.5em;
}

pre code {
  border: none;
  line-height: 28px;
}
